.git/
.next/
.devbox/
.chat/

**/_build/
**/.elixir_ls/
**/deps/
erl_crash.dump

.submodule_update_cache
.env

node_modules/
out/

public/content/nginx_redirect_map.conf

scripts/notion/notion-output/
