.code-block-header {
  background-color: var(--tertiary-background-color-light);
  margin: -16px -16px 10px -16px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  font-family: Public Sans;
  font-size: 13px;
}

.code-language {
  color: var(--secondary-foreground);
}

.code-copy-btn {
  color: var(--secondary-foreground);
  padding: 0;
  font-size: 13px;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

html[data-theme='dark'] {
  .code-block-header {
    background-color: var(--tertiary-background-color);
  }
}
