.cmd-modal,
.cmd-search-input,
.cmd-palette,
.cmd-instructions {
  color: var(--primary-font-color-light);
  background-color: var(--primary-background-color-light);
  font-size: 12px;

  * {
    box-sizing: border-box;
  }
}

.cmd-search-button {
  display: flex;
  width: 200px;
  border-radius: 8px;
  border: 1px solid var(--primary-border-color-light);
  background: none;
  color: var(--primary-font-color-light);
  font: var(--font-monospace);
  justify-content: space-between;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .cmd-search-button-text {
    font-size: 14px;
    filter: opacity(50%);
  }

  .cmd-search-button-keys {
    .tag {
      font-size: 12px;
      height: 12px;
      padding: 3px 6px;
      filter: opacity(50%);
    }
  }
}

.cmd-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 1000;
  min-width: 100vw;
}

.cmd-modal {
  margin-top: 10vh;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  z-index: 1001;
  display: flex;
  flex-direction: column;

  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.cmd-modal-active {
  display: flex;
}

.cmd-modal-hidden {
  display: none;
}

.cmd-palette {
  color: #c7c7c7;
}

.cmd-search-input {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: none;
  font-size: 24px;
  box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid var(--primary-border-color-light);
  padding: 16px;
}

.cmd-results {
}

.cmd-results-active {
  display: block;
}

.cmd-results-hidden {
  display: none;
}

.cmd-results-list-wrapper {
  height: 70vh;
  display: flex;
}

div:has(> .cmd-results-list) {
  flex: 1;
}

.cmd-results-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cmd-result-preview {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid var(--primary-border-color-light);
  background-color: var(--secondary-background-color-light);

  box-shadow: inset 1px 1px 2px hsla(230, 6%, 60%, 0.24),
    inset 2px 2px 8px hsla(230, 6%, 60%, 0.1);

  padding: 24px 72px;

  .cmd-preview-icon {
    width: 36px;
    height: 36px;
    color: var(--secondary-font-color-light-var2);
  }

  .cmd-preview-path {
    margin-top: 14px;
    font-size: 14px;
    text-align: center;
  }

  .cmd-preview-title {
    font-size: 28px;
    margin: 0;
    margin-top: 8px;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
  }

  .cmd-preview-description {
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-font-color-light);
    width: 100%;
  }

  .cmd-preview-recap {
    align-self: flex-start;
    margin-top: 32px;
    color: var(--secondary-font-color-light-var2);
    > span {
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-skip-ink: auto;
      font-weight: 500;
      font-size: 12px;
    }
    p {
      margin-top: 20px;
      white-space: pre-wrap;
      font-size: 12px;
    }
    hr {
      margin: 10px 0px !important;
    }
    display: flex;
    flex-direction: column;
  }
}

.cmd-results-group {
  display: flex;
  flex-direction: column;

  > span {
    background-color: var(--primary-border-color-light);
    padding: 6px 12px;
    text-transform: capitalize;
    font-weight: 500;
  }
}

.cmd-result-item {
  border-bottom: 1px solid var(--primary-border-color-light);
  display: flex;
  background-color: transparent;
  transition: background-color 0.05s ease-in;

  > * {
    outline: none;
  }

  &.cmd-result-selected {
    background-color: var(--primary-color);

    > a {
      color: white !important;
    }

    .cmd-matching-line {
      color: white;
    }
  }

  > a {
    color: var(--primary-font-color-light);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 10px 16px;

    &:after {
      content: none !important;
      width: 200%;
      height: 200%;
    }
  }
}

.cmd-tags {
  display: none;
  margin-bottom: 6px;

  .tag {
    margin-right: 6px;
    filter: opacity(70%);
  }
}

.cmd-result-item:last-child {
  border-bottom: none;
}

.cmd-result-title {
  font-size: 14px;
  font-weight: 500;
}

.cmd-matching-lines {
  list-style: none;
  padding-left: 0;
}

.cmd-matching-line {
  color: var(--secondary-font-color-light-var2);
}

.cmd-no-results {
  p {
    margin: 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40%;
    filter: invert(1);
    opacity: 0.4;
  }
}

.cmd-instructions {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 1px solid var(--primary-border-color-light);
  padding: 8px 12px;
}

@media only screen and (max-width: 768px) {
  .cmd-search-button {
    display: none;
  }
}

html[data-theme="dark"] {
  .cmd-search-button {
    color: var(--primary-font-color);
    border: 1px solid var(--primary-border-color);

    &:hover {
      filter: brightness(1.5);
    }
  }

  .cmd-modal,
  .cmd-search-input,
  .cmd-palette,
  .cmd-instructions {
    color: var(--primary-font-color);
    background-color: var(--primary-background-color);
  }

  .cmd-instructions {
    border-top: 1px solid var(--primary-border-color);
  }

  .cmd-result-item,
  .cmd-search-input {
    border-bottom: 1px solid var(--primary-border-color);
  }

  .cmd-result-item {
    a {
      color: var(--primary-font-color);
    }
  }

  .cmd-results-group {
    > span {
      background-color: var(--primary-border-color);
    }
  }

  .cmd-result-preview {
    border-left: 1px solid var(--primary-border-color);
    background-color: var(--secondary-background-color);

    box-shadow: inset 1px 1px 5px hsla(230, 0%, 0%, 0.43),
      inset 2px 2px 14px hsla(230, 0%, 0%, 0.25);

    .cmd-preview-icon {
      color: var(--secondary-font-color);
    }

    .cmd-preview-description {
      color: var(--secondary-font-color);
    }
  }

  .cmd-no-results {
    img {
      opacity: 1;
    }
  }
}
