footer {
    padding: 16px 12px;
    margin: auto -5px 0px;
    border-top: 1px solid var(--border-color-light);
    background-color: var(--primary-background-color-light);
    z-index: 10;
    white-space: normal;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.0125rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    & > span {
      align-self: center;
    }

    .socials {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 10px;

        a {
            cursor: pointer;
            aspect-ratio: 1;
        }
    }
}

@media screen and (max-width: 1100px) {
  footer {
    .socials {
      align-self: center;
    }
  }
}

footer span {
    color: var(--secondary-font-color-light);
}

/* Theme */
html[data-theme=dark] {
    footer {
        border-top: 1px solid var(--border-color);
        background-color: var(--primary-background-color);
    }

    footer span {
        color: var(--secondary-font-color);
    }
}
