footer {
    position: sticky;
    padding: 12px 16px;
    bottom: 0px;
    margin: 0 -5px;
    left: 0px;
    right: 0;
    clear: both;
    border-top: 1px solid var(--border-color-light);
    background-color: var(--secondary-background-color-light);
    z-index: 10;
    white-space: normal;
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.0125rem;
    align-self: center;

    .socials {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 8px;

        a {
            cursor: pointer;
            padding: 0;
            margin-right: 6px;
        }
    }
}

footer span {
    color: var(--secondary-font-color-light);
}

/* Theme */
html[data-theme=dark] {
    footer {
        border-top: 1px solid var(--border-color);
        background-color: var(--secondary-background-color-var2);
    }

    footer span {
        color: var(--secondary-font-color);
    }
}