.tab-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--primary-border-color-light);
    z-index: 50;
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--primary-background-color-light);

    .title {
        grid-area: title;
        font-size: 22px;
        border-spacing: 20px;
        border-right: 1px solid var(--primary-border-color-light);
        padding-right: 16px;
        height: 16px;
        line-height: 16px;
    }
    
    .tab-menu {
        flex: 1;
        padding-left: 16px;
    }

    #docsearch {    
        min-width: 100px;    
        > button {
            // width: 90%;
            border-radius: 0px;
            
            > span {
                padding-left: 12px;
                font-family: Inter, sans-serif;
            }
        }
    }
}

.DocSearch-Footer {
    box-shadow: none;
    margin-left: 0.1px;
}

.DocSearch-Button {
    background: var(--primary-background-color-light); 
    &:hover {
        box-shadow: none; 
    }
}

.DocSearch-Button .DocSearch-Search-Icon {
    color: var(--secondary-font-color-light);
}

.DocSearch-Button-Key {
    background: #EEEDEC;
    color: var(--primary-font-color-light);
    box-shadow: 0 4px 2px -2px #D4D3D0;
}

.active {
    color: var(--primary-color);
}

nav.tab-menu {
    grid-area: tabmenu;
    align-self: center;
    padding-bottom: 0px;
    overflow: auto;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li {
            font-size: 16px;
            font-weight: 500;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            padding: 0px 10px;

            a {
                text-decoration: none;
                color: inherit;
                &::before {
                    height: 0px;
                }
                &:hover::before {
                    height: 100%;
                }
            }

            &:last-of-type {
                margin-right: 30px !important;
            }
        }
    }
}

/* Theme */
html[data-theme=dark] {
    .DocSearch-Button {
        background: var(--primary-background-color); 
    }

    .DocSearch-Button-Key {
        background: #746e67;
        color: var(--primary-font-color);
        box-shadow: 0 4px 2px -2px #151514;
    }

    .tab-header {
        border-bottom: 1px solid var(--primary-border-color);
        background: var(--primary-background-color);

        .title {
            border-right: 1px solid var(--primary-border-color);
        }
    }
}

@media only screen and (max-width: 1100px) {
    .DocSearch {
        width: 100% !important;
        height: 50px !important;
        padding: 0px;
        margin: 0px;
    }
}


.btn-theme-toggler {
    min-width: 86px;
    margin-right: 20px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;

    svg {
        height: 20px;
        width: 20px;
    }

    :hover {
        opacity: 0.8;
    }

    .hidden {
        display: none;
    }
}
