nav.menu {
    position: sticky;
    top: 56px;
    padding: 1.5rem 0.5rem 0rem 0.5rem;
    line-height: 22px;
    white-space: nowrap;
    grid-area: nav;
    height: calc(100vh - 81px);
    overflow-y: auto;
    overflow-x: hidden;
    white-space: wrap;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-right: 1px solid var(--border-color-light);
}

details {
    overflow: hidden;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    li > a {
        color: var(--secondary-font-color-light-var2);
        :visited {
            color: var(--secondary-font-color-light-var2);
        }
    }
}

summary {
    display: block;
    padding: 5px;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    user-select: none;
    font-weight: 500;
}

summary::-webkit-details-marker {
  display: none !important;
}

details>ul {
    margin-bottom: 0;
}

.site-nav>details>details>summary {
    padding: 5px 0px;
    padding-left: 24px;
    font-weight: 500;
}

.site-nav>details {
    padding-bottom: 5px;

    &:has(details) > details {
      position: relative;

      &::before {
        content: '';
        height: 100%;
        width: 1px;
        position: absolute;
        top: 0;
        left: 14px;
        background-color: var(--Neutral-200);
      }

      ul>li {
        &:hover > ::before {
          background-color: #afb0b3;
        }

        ::before {
          content: '';
          height: 100%;
          width: 1px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--Neutral-200);
        }
      }
    }


    >summary {
      display: flex;
      column-gap: 5px;
    }

    ul>li {
      &:hover > ::before {
        background-color: #afb0b3;
      }

      ::before {
        content: '';
        height: 100%;
        width: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--Neutral-200);
      }

      &.text-active>::before {
        background-color: var(--primary-color) !important;
      }
    }

    >summary {
        .chevron {
          transition: transform 0.1s ease-in-out;

          &::before {
            display: inline-block;
            vertical-align: top;
            content: var(--chevron-icon);
          }
        }
    }

    &[open]>summary {
        .chevron {
          transform-origin: center;
          transform: rotate(90deg);
        }
    }

    >details>summary {
      display: flex;
      column-gap: 5px;
    }

    >details>summary {
        .chevron {
          transition: transform 0.1s ease-in-out;

          &::before {
            display: inline-block;
            vertical-align: top;
            content: var(--chevron-icon);
          }
        }

    }

    &>details[open]>summary {
        .chevron {
          transform-origin: center;
          transform: rotate(90deg);
        }
    }
}

.site-nav>details>details {
    ul>li {
        padding: 0px;
        padding-left: 34px;
        position: relative;

        a {
          padding: 5px 5px 5px 12px;
        }

        &.text-active>::before {
          background-color: var(--primary-color) !important;
        }
    }
}

hr {
    all: initial;
    height: 1px;
    display: block;
    margin: 20px 0px !important;
    width: 100%;
    max-width: inherit;
    background-color: var(--primary-border-color-light);
}

nav.menu {
    background-color: var(--secondary-background-color-light);
    display: inline-grid;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "site-nav"
        "footer";

    .site-nav {
        grid-area: site-nav;
        overflow: auto;
    }

    .footer {
        grid-area: footer;
    }
}

nav .site-nav {
    display: inline-block;
    width: 100%;
}

nav .site-nav section {
    margin-top: -2px;
}

nav .site-nav section h2 {
    margin: 20px 0 20px 0;
    font-size: 24px;
    text-transform: lowercase;
}

nav.menu ul {
    display: inline-grid;
    grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(var(--nav-sidebar-width), 1fr));
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
    list-style-type: none;
    line-height: 22px;
    box-sizing: border-box;
}

nav .site-nav ul li {
    list-style-type: none;
    display: flex;
    font-variant-numeric: tabular-nums;
    font-size: 14px;
    padding: 0px;
    padding-left: 14px;

    a {
        padding: 5px 5px 5px 12px;
        width: max-content;
        white-space: nowrap;
        overflow: hidden;
    }
}

.load-more {
    font-style: italic;
    padding-top: 8px;
    color: var(--primary-color) !important;
    cursor: pointer;
}

/* Theme */
html[data-theme=dark] {
    nav.menu {
        border-right: 1px solid var(--border-color);
        background-color: var(--secondary-background-color-var2);
    }

    hr {
        background-color: var(--primary-border-color);
    }

    details {
        li>a {
            color: var(--secondary-font-color-light);

            :visited {
                color: var(--secondary-font-color-light);
            }
        }
    }

    authors {
        a {
            color: var(--primary-font-color-light);
        }
    }

    .site-nav>details {
        ul>li {
          &:hover > ::before {
            background-color: #9b9b9b;
          }

          ::before {
            background-color: var(--Neutral-500);
          }
        }

        &:has(details) > details {
          &::before {
            background-color: var(--Neutral-500);
          }

          ul>li {
            &:hover > ::before {
              background-color: #9b9b9b;
            }

            ::before {
              background-color: var(--Neutral-500);
            }
          }
        }
    }
}

@media only screen and (max-width: 1100px) {
    nav.menu ul {
        width: 100%;
        row-gap: 4px;
        column-gap: 4px;
    }

    nav .site-nav section {
        margin: 0 10px 10px 0;
    }

    nav.menu {
        display: none;
        max-width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    nav.menu.show {
      padding-top: 0px;
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 999;
      top: 57px;
      left: 0px;
      height: calc(100% - 57px);
      width: 100%;
    }

    nav.menu > section.site-nav {
      flex-shrink: 0;
    }

    .site-nav {
      padding-top:16px
    }

    .reading-mode-menu {
      display: none;
    }
}
