nav.menu {
    position: sticky;
    top: 0;
    padding: 1.5rem 0.5rem 0rem 0.5rem;
    line-height: 22px;
    white-space: nowrap;
    grid-area: nav;
    height: calc(100vh - 81px);
    overflow-y: auto;
    overflow-x: hidden;
    white-space: wrap;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

details {
    overflow: hidden;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    li > a {
        color: var(--secondary-font-color-light-var2);
        :visited {
            color: var(--secondary-font-color-light-var2);
        }
    }
}

summary {
    display: block;
    padding: 20px 5px 12px 20px;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    user-select: none;
}

details>ul {
    margin-bottom: 0;
}

.site-nav>details>details>summary {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 24px;
    height: 24px;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0.4}
    100%  {opacity: 1}
}

.site-nav>details {
    >details>summary::before {
        display: inline-block;
        vertical-align: top;
        content: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66669 1L5.66669 5L1.66669 9' stroke='%239B9B9B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        padding: 0px 10px;
    }

    >details[open]>summary::before {
        transform: rotate(90deg);
        transition: transform 0.1s ease-in-out;
    }
}

.site-nav>details>details {
    ul>li {
        padding-left: 60px;
    }
}

hr {
    margin: 20px 0px !important;
    width: 100%;
    max-width: inherit;
    border-color: var(--secondary-background-color-light);
}

nav.menu {
    background-color: var(--secondary-background-color-light);
}

nav .site-nav {
    display: inline-block;
    width: 100%;
    // height: calc(100vh - 83.66px - 57px - 26px);
}

nav .site-nav section {
    margin-top: -2px;
}

nav .site-nav section h2 {
    margin: 20px 0 20px 0;
    font-size: 24px;
    text-transform: lowercase;
}

nav.menu ul {
    display: inline-grid;
    grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(var(--nav-sidebar-width), 1fr));
    padding: 0px 10px 10px 0px;
    margin: 0px;
    list-style-type: none;
    line-height: 22px;
    box-sizing: border-box;
}

nav .site-nav ul li {
    list-style-type: none;
    display: flex;
    font-variant-numeric: tabular-nums;
    font-size: 14px;
    padding-left: 36px;
    padding-top: 4px;
    padding-bottom: 4px;

    a {
        padding: 0px 4px;
        width: max-content;
        white-space: nowrap;
        overflow: hidden;
    }
}

.load-more {
    font-style: italic;
    padding-top: 8px;
    color: var(--primary-color) !important;
    cursor: pointer;
}

/* Theme */
html[data-theme=dark] {
    nav.menu {
        background-color: var(--secondary-background-color-var2);
    }

    hr {
        border-color: var(--secondary-background-color);
    }

    details {
        li>a {
            color: var(--secondary-font-color-light);

            :visited {
                color: var(--secondary-font-color-light);
            }
        }
    }

    authors {
        a {
            color: var(--primary-font-color-light);
        }
    }

}

@media only screen and (max-width: 1100px) {
    nav.menu ul {
        width: 100%;
        row-gap: 4px;
        column-gap: 4px;
    }

    nav .site-nav section {
        margin: 0 10px 10px 0;
    }

    nav.menu {
        max-width: 100%;
        height: fit-content;
        box-sizing: border-box;
        display: inline-block;
    }
}
