.pagenav {
  position: sticky;
  top: 0;
  padding: 1.5rem .5rem 0;
  grid-area: pagenav;
  justify-self: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.0125rem;
  width: 100%;
  max-width: 700px;

  div.container {
    position: sticky;
    top: 68px;
    right: 0;
    z-index: 0;

    .nav-label {
      display: block;
      text-transform: uppercase;
      position: relative;
    }
  }
}
