{{- $url := urls.Parse .Destination -}}
{{- $scheme := $url.Scheme -}}

{{ $mozillaPDF := resources.Get "js/pdf-js/pdf.mjs" }}
{{ $mozillaWorkerPDF := resources.Get "js/pdf-js/pdf.worker.mjs" }}
<script src="{{ $mozillaPDF.RelPermalink }}" type="module"></script>

{{- if strings.HasSuffix .Destination ".pdf" -}}
<script type="module">
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.
  let url = `{{ .Destination }}`;
  let currentUrlParts = window.location.href.split('/');
  currentUrlParts.shift();
  currentUrlParts.shift();
  currentUrlParts.shift();
  currentUrlParts.pop();
  currentUrlParts.pop();
  const relativeUrl = `/${currentUrlParts.join('/')}/`;

  if (url.match(/^assets/)) {
      url = `${relativeUrl}/${url}`;
  } else {
      url = `/${url}`;
  }

  // Loaded via <script> tag, create shortcut to access PDF.js exports.
  const { pdfjsLib } = globalThis;

  // The workerSrc property shall be specified.
  pdfjsLib.GlobalWorkerOptions.workerSrc = "{{ $mozillaWorkerPDF.RelPermalink }}";

  var pdfDoc = null,
      pageNum = 1,
      pageRendering = false,
      pageNumPending = null,
      scale = 0.8,
      canvas = document.getElementById("{{ .Destination }}"),
      ctx = canvas.getContext('2d');

  /**
   * Get page info from document, resize canvas accordingly, and render page.
   * @param num Page number.
   */
  function renderPage(num) {
    pageRendering = true;
    // Using promise to fetch the page
    pdfDoc.getPage(num).then(function(page) {
      const viewport = page.getViewport({ scale: scale });
      canvas.height = viewport.height;
      canvas.width = viewport.width;
      canvas.style.width = "100%";

      // Render PDF page into canvas context
      const renderContext = {
        canvasContext: ctx,
        viewport: viewport
      };
      const renderTask = page.render(renderContext);

      // Wait for rendering to finish
      renderTask.promise.then(function() {
        pageRendering = false;
        if (pageNumPending !== null) {
          // New page rendering is pending
          renderPage(pageNumPending);
          pageNumPending = null;
        }
      });
    });

    // Update page counters
    document.getElementById('page_num').textContent = num;
  }

  /**
   * If another page rendering in progress, waits until the rendering is
   * finised. Otherwise, executes rendering immediately.
   */
  function queueRenderPage(num) {
    if (pageRendering) {
      pageNumPending = num;
    } else {
      renderPage(num);
    }
  }

  /**
   * Displays previous page.
   */
  function onPrevPage() {
    if (pageNum <= 1) {
      return;
    }
    pageNum--;
    queueRenderPage(pageNum);
  }
  document.getElementById('prev').addEventListener('click', onPrevPage);

  /**
   * Displays next page.
   */
  function onNextPage() {
    if (pageNum >= pdfDoc.numPages) {
      return;
    }
    pageNum++;
    queueRenderPage(pageNum);
  }
  document.getElementById('next').addEventListener('click', onNextPage);

  /**
   * Asynchronously downloads PDF.
   */
  pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
    pdfDoc = pdfDoc_;
    document.getElementById('page_count').textContent = pdfDoc.numPages;

    // Initial/first page rendering
    renderPage(pageNum);
  });
</script>
<div>
  <button id="prev">Previous</button>
  <button id="next">Next</button>
  &nbsp; &nbsp;
  <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
</div>
<canvas id="{{ .Destination }}"></canvas>
{{- else if strings.HasSuffix .Destination ".mp4" -}}
<video
  x-data="{
    title: `{{- with .Title }}{{ . | safeHTML }}{{- end -}}`,
    alt: `{{- with .Text }}{{ . | safeHTML }}{{- end -}}`,
    src: `{{- .Destination }}`,
    altText: `{{- with .Text }}{{ . | safeHTML }}{{- end -}}`,
    get altWidthHeight() {
      const widthHeightRegex = /^(\d+)(?!x)(\d*)$/g;
      return this.altText.match(widthHeightRegex) ?? [];
    },
    get relativeSrc() {
      let currentUrlParts = this.currentUrl.split('/');
      currentUrlParts.shift();
      currentUrlParts.pop();
      currentUrlParts.pop();
      const relativeUrl = `/${currentUrlParts.join('/')}/`;

      if (this.src.match(/^assets/)) {
         return `${relativeUrl}/${this.src}`;
      }
      return `/${this.src}`;
    }
  }"
  controls
  autoplay
  :src="relativeSrc"
  :title="title"
  :alt="alt"
  :style="{ width: altWidthHeight[0] + 'px', height: altWidthHeight[1] + 'px' }"
  onerror="this.onerror = null"
></video>
{{- else -}}
<img 
  x-data="{
    title: `{{- with .Title }}{{ . | safeHTML }}{{- end -}}`,
    alt: `{{- with .Text }}{{ . | safeHTML }}{{- end -}}`,
    src: `{{- .Destination }}`,
    altText: `{{- with .Text }}{{ . | safeHTML }}{{- end -}}`,
    get altWidthHeight() {
      const widthHeightRegex = /^(\d+)(?!x)(\d*)$/g;
      return this.altText.match(widthHeightRegex) ?? [];
    },
    get relativeSrc() {
      let currentUrlParts = this.currentUrl.split('/');
      currentUrlParts.shift();
      currentUrlParts.pop();
      currentUrlParts.pop();
      const relativeUrl = `/${currentUrlParts.join('/')}/`;

      if (this.src.match(/^assets/)) {
         return `${relativeUrl}/${this.src}`;
      }
      return `/${this.src}`;
    }
  }"
  :src="relativeSrc"
  :title="title"
  :alt="alt"
  :style="{ width: altWidthHeight[0] + 'px', height: altWidthHeight[1] + 'px' }"
  onerror="this.onerror = null"
  class="content-img"
/>
{{- end -}}

{{- /* whitespace stripped here to avoid trailing newline in rendered result caused by file EOL */ -}}
