{{- $url := urls.Parse .Destination -}}
{{- $scheme := $url.Scheme -}}

{{- if strings.HasSuffix .Destination ".mp4" -}}
<video
  x-data="{
    altText: `{{- with .Text }}{{ . | safeHTML }}{{- end -}}`,
    get altWidthHeight() {
      const widthHeightRegex = /^(\d+)(?!x)(\d*)$/g;
      return this.altText.match(widthHeightRegex) ?? [];
    },
  }"
  controls
  autoplay
  src="
  {{- if eq $scheme "" -}}
    {{- if strings.HasSuffix $url.Path ".md" -}}
      {{- relref .Page .Destination | safeURL -}}
    {{- else -}}
      {{ if strings.HasPrefix .Page.File.Dir "/" }}
        {{- printf "%s%s" .Page.File.Dir .Destination | safeURL -}}
      {{- else -}}
        {{- printf "/%s%s" .Page.File.Dir .Destination | safeURL -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- .Destination | safeURL -}}
  {{- end -}}"
  {{- with .Title }} title="{{ . | safeHTML }}"{{- end -}}
  {{- with .Text }} alt="{{ . | safeHTML }}" x-bind:style="{ width: altWidthHeight[0] + 'px', height: altWidthHeight[1] + 'px' }"
  {{- end -}}
  onerror="this.onerror = null"
></video>
{{- else -}}
<img 
  x-data="{
    altText: `{{- with .Text }}{{ . | safeHTML }}{{- end -}}`,
    get altWidthHeight() {
      const widthHeightRegex = /^(\d+)(?!x)(\d*)$/g;
      return this.altText.match(widthHeightRegex) ?? [];
    },
  }"
  src="
  {{- if eq $scheme "" -}}
    {{- if strings.HasSuffix $url.Path ".md" -}}
      {{- relref .Page .Destination | safeURL -}}
    {{- else -}}
      {{ if strings.HasPrefix .Page.File.Dir "/" }}
        {{- printf "%s%s" .Page.File.Dir .Destination | safeURL -}}
      {{- else -}}
        {{- printf "/%s%s" .Page.File.Dir .Destination | safeURL -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- .Destination | safeURL -}}
  {{- end -}}"
  {{- with .Title }} title="{{ . | safeHTML }}"{{- end -}}
  {{- with .Text }} alt="{{ . | safeHTML }}"  x-bind:style="{ width: altWidthHeight[0] + 'px', height: altWidthHeight[1] + 'px' }"
  {{- end -}}
  onerror="this.onerror = null"
/>
{{- end -}}

{{- /* whitespace stripped here to avoid trailing newline in rendered result caused by file EOL */ -}}
