.main-grid {
  display: inline-grid;
  grid-template-areas:
    'tabmenu tabmenu tabmenu tabmenu'
    'toc-space content right-sidebar toc'
    'toc-space content right-sidebar toc';
  grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
  grid-template-columns:
    0 minmax(600px, var(--container-max-width)) minmax(200px, 280px),
    0;
  column-gap: var(--column-gap);
  justify-content: center;
  @variant reading {
    column-gap: 0;
    grid-template-columns: 0 minmax(600px, var(--container-max-width)) 0 0;
  }
}

.right-sidebar {
  grid-area: right-sidebar;
}
.main-content {
  grid-area: content;
}

@media (max-width: 1280px) {
  .main-grid {
    display: inline-grid;
    grid-template-areas:
      'tabmenu tabmenu tabmenu'
      'right-sidebar right-sidebar right-sidebar'
      'toc-space content toc';
    grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
    grid-template-columns: 0 1fr 0;
    column-gap: 0;
  }
}

.toc {
  grid-area: toc;
}
.toc-space {
  grid-area: toc-space;
}
