.connect-wallet {
  padding: 0.5rem;
  height: 40px;
  min-width: 100px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--primary-foreground-color);
  border: none;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: all 0.1s ease;
  white-space: nowrap;

  &:hover {
    filter: brightness(1.05);
  }
}

.wallet-connected {
  background-color: var(--primary-foreground-color);
  color: var(--primary-font-color-light);
  border: 1px solid var(--border-color-light);

  &:hover {
    background-color: var(--secondary-font-color);
  }
}

#wallet-dropdown {
  flex-direction: column;
  border-radius: 0.25rem;
  overflow:hidden;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.875rem 0.675rem;
    transition: background-color 0.1s ease;

    &:hover {
      background-color: var(--secondary-font-color);
    }
    
    > img {
      width: 20px;
      height: 20px;
      border-radius: 0.25rem;
    }

    > span {
      font-size: 0.875rem;
    }
  }
}