a {
  display: inline;
  position: relative;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: wrap;

  &:hover {
    color: #23242C;
  }
}

.text-active {
  color: var(--primary-color) !important;
}

main {
  a {
    color: var(--primary-color);
    text-decoration: underline;
  }

  // list link has no underline
  li {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1, h2, h3 {
    a {
      padding: 0px;
      color: var(--Neutral-900);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h1 {
    :not(.pagetitle) {
      border-bottom: 1px solid var(--Neutral-200);
    }
    font-size: 2rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.0625rem;
    padding: 0.5rem 0rem;
  }

  h2 {
    font-size: 1.5rem;
    font-style: normal;
    line-height: 140%;
    /* 2.1rem */
    letter-spacing: -0.0125rem;
  }

  h3 {
    font-size: 1.125rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.0125rem;
  }

}

.authors {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  a {
    color: var(--secondary-font-color-light-var2);
  }
}


html[data-theme=dark] {
  .note-title {
    .date {
      color: var(--secondary-font-color-light);
    }

    .authors {
      color: var(--secondary-font-color-light);
      a {
        color: var(--secondary-font-color-light);
      }
    }
  }

  main {
    h1, h2, h3 {
      a {
        color: var(--secondary-font-color);
      }
    }
  }
}
