a {
  display: inline;
  position: relative;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: wrap;

  &:hover {
    color: #23242c;
  }

  &:not([href^="https://memo.d.foundation"], [href^="/"], [href^="#"], :has(> svg))
  {
    &::after {
      position: relative;
      top: 3px;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3E%3Cg fill='%239b9b9b'%3E%3Cpath d='M15.64 7.025h-3.622v-2h7v7h-2v-3.55l-4.914 4.914l-1.414-1.414z'/%3E%3Cpath d='M10.982 6.975h-6v12h12v-6h-2v4h-8v-8h4z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.title > a:hover {
  color: inherit;
}

.text-active {
  color: var(--primary-color) !important;
}

main {
  a {
    text-decoration: underline var(--primary-color);
    -webkit-text-decoration: underline var(--primary-color);
    text-decoration-skip-ink: auto;
    color: #23252c;

    &:hover {
      color: var(--primary-color) !important;
    }
  }

  h1 {
    :not(.pagetitle) {
      border-bottom: 1px solid var(--Neutral-200);
    }
    font-size: 2rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.0625rem;
    padding: 0.5rem 0rem;
  }

  h2 {
    font-size: 1.5rem;
    font-style: normal;
    line-height: 140%;
    /* 2.1rem */
    letter-spacing: -0.0125rem;
  }

  h3 {
    font-size: 1.125rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.0125rem;
  }
}

.authors {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  a {
    color: var(--secondary-font-color-light-var2);
  }
}

html[data-theme="dark"] {
  a {
    &:hover {
      color: #dadada;
    }
  }

  .note-title {
    .date {
      color: var(--secondary-font-color-light);
    }

    .authors {
      color: var(--secondary-font-color-light);
      a {
        color: var(--secondary-font-color-light);
      }
    }
  }

  main {
    a {
      color: #dadada;
    }
    h1,
    h2,
    h3 {
      a {
        color: var(--secondary-font-color);
      }
    }
  }
}
