img.neko {
  position: fixed;
  bottom: 32px;
  right: 15%;
  z-index: 5;
  /* Very low z-index */
  pointer-events: none;
  width: 70px;
  height: auto;
  display: none;
}

img.neko2 {
  position: fixed;
  bottom: 32px;
  left: 15%;
  z-index: 5;
  /* Very low z-index */
  pointer-events: none;
  width: 70px;
  height: auto;
  display: none;
}

