img.neko {
  position: fixed;
  bottom: 32px;
  right: 15%;
  z-index: 100;
  pointer-events: none;
  width: 100px;
  height: auto;
  display: none;
}

img.neko2 {
  position: fixed;
  bottom: 32px;
  left: 15%;
  z-index: 100;
  pointer-events: none;
  width: 100px;
  height: auto;
  display: none;
}

@media screen and (min-width: 1100px) {

  img.neko,
  img.neko2 {
    display: block;
  }
}
