.term-list {
  row-gap: 14px;
}

.term {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  align-items: baseline;

  & > a {
    flex-shrink: 0;
    text-decoration: unset;
  }
}

.tag {
  border-radius: 2.8px;
  padding: 0px 6px;
  background-color: var(--primary-color-lighten);
  color: var(--primary-color);
  font-size: 10px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.7;
}

html[data-theme="dark"] {
  .tag {
    background-color: var(--border-color);
    color: var(--primary-font-color);
  }
}
