.term-list {
  row-gap: 14px;
  padding-left: 0;
}

.term {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px 8px;
  align-items: baseline;

  .tags {
    display: flex;
    gap: 4px;
  }

  .authors {
    display: flex;
    gap: 4px;

    a {
      font-size: 12px;
      line-height: 12px;
      text-decoration: none;
      &:first-child::before {
        content: "⎯ ";
      }
    }
  }

  & > a {
    flex-shrink: 0;
    text-decoration: unset;
  }
}

.tag {
  border-radius: 2.8px;
  padding: 0px 6px;
  background-color: #f9fafb;
  // background-color: var(--primary-color-lighten);
  color: #4b4f53;
  // color: var(--primary-color);
  font-size: 10px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.7;
  text-decoration: none;
}

html[data-theme="dark"] {
  .tag {
    background-color: var(--border-color);
    color: var(--primary-font-color);
  }
}
