.term-list {
  row-gap: 14px;
}

.term {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  align-items: baseline;

  & > a {
    flex-shrink: 0;
  }
}

.tag {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 9999px;
  letter-spacing: 0.025em;
  font-style: normal;
  font-size: 8px;
  padding: 1px 0.5rem;
  transform: translateY(-8%);
  background-color: var(--border-color-light);
  line-height: 1.5;
  color: var(--primary-font-color-light);
  white-space: nowrap;
}

html[data-theme="dark"] {
  .tag {
    background-color: var(--border-color);
    color: var(--primary-font-color);
  }
}
