:root {
    --primary-color: #e13F5e;
  
    --primary-font-color: #ddd;
    --primary-font-color-light: #333;
  
    --secondary-font-color: #e8e8e8;
    --secondary-font-color-light: #717171;
  
    --primary-background-color: #1e1e1e;
    --primary-background-color-light: #fff;
  
    --secondary-background-color: #282828;
    --secondary-background-color-light: #f6f6f6;
    
    --border-color: #3d3d3d;
    --border-color-light: #e7e7e7;
  
    --container-max-width: 1240px;
    --main-padding: 4.5%;
    --column-gap: 20px;
    --nav-sidebar-width: 200px;
    --nav-sidebar-offset: 0px;
  }
  