:root {
    --primary-color: #e13F5e;
    --docsearch-primary-color: #e13F5e;
    --docsearch-primary-color: #e13F5e;

    --primary-font-color: #ddd;
    --primary-font-color-light: #2C2D32;

    --secondary-font-color: #e8e8e8;
    --secondary-font-color-light: #9B9B9B;
    --secondary-font-color-light-var2: #636466;

    --primary-background-color: #1e1e1e;
    --primary-background-color-light: #fff;

    --secondary-background-color: #282828;
    --secondary-background-color-light: #FCFCFC;
    --secondary-background-color-var2: #202020;
    
    --primary-border-color: #282828;
    --primary-border-color-light: #EDEDED;
    
    --secondary-tag-color: #282828;
    --secondary-tag-color-light: #F4F3F2;

    --border-color: #3d3d3d;
    --border-color-light: #e7e7e7;

    --container-max-width: 770px;
    --main-padding: 16px 18px 72px 4px;
    --column-gap: 24px;
    --nav-sidebar-width: 200px;
    --nav-sidebar-offset: 0px;

    --Neutral-900: #141518;
    --Neutral-500: #363636;
    --Neutral-200: #EAECF0;

    --chevron-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23a3a3a3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 7l5 5l-5 5'/%3E%3C/svg%3E");
  }
