{{ partial "header.html" . }}

{{ $homepage := .Site.GetPage "/home" }}

{{ with $homepage }}
  {{ if $homepage.Params.notice -}}
    <div class="notice">{{ .Params.notice }}</div>
  {{ end }}

  {{ if $homepage.Params.toc -}}
    <aside class="toc">{{ .TableOfContents }}</aside>
  {{ end }}

  {{ .Content 
     | replaceRE 
        `&lt;a:(\w+):(\d+)&gt;` 
        "<img class=\"emoji\" src=\"https://cdn.discordapp.com/emojis/${2}.gif?size=44&quality=lossless\" alt=\":${1}:\"/>" 
     | replaceRE 
        `&lt;:(\w+):(\d+)&gt;` 
        "<img class=\"emoji\" src=\"https://cdn.discordapp.com/emojis/${2}.webp?size=44&quality=lossless\" alt=\":${1}:\"/>" 
     | safeHTML 
  }}
{{ end }}

{{ partial "footer.html" . }}
