<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ $favicon := resources.Get "favicon.ico" }}
  {{ $favicon16 := resources.Get "favicon-16x16.png" }}
  {{ $favicon32 := resources.Get "favicon-32x32.png" }}
  {{ $appleTouchIcon := resources.Get "apple-touch-icon.png" }}
  {{ $whiteImage := resources.Get "img/LOGO.png" }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
  <meta name="keywords" content="{{ .Site.Params.tags }}">
  <meta name="title" content="{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  
  <!-- Facebook Meta -->
  <meta property="og:title" content="{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
  <meta property="og:description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:image" content="{{ $whiteImage.Permalink }}">

  <!-- Twitter Meta -->
  <meta property="twitter:title" content="{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
  <meta property="twitter:description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta property="twitter:type" content="article">
  <meta property="twitter:url" content="{{ .Permalink }}">
  <meta property="twitter:image" content="{{ $whiteImage.Permalink }}">

  <link rel="icon" type="image/x-icon" href="{{ $favicon.Permalink }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.Permalink }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.Permalink }}">
  <link rel="apple-touch-icon" href="{{ $appleTouchIcon.Permalink }}">
  <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
  <link rel="canonical" href="{{ .Permalink | absURL }}">
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}
  <link rel="shortcut icon" type="image/png"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=">

    <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Prism Themes -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-vs.min.css" integrity="sha512-Jn4HzkCnzA7Bc+lbSQHAMeen0EhSTy71o9yJbXZtQx9VvozKVBV/2zfR3VyuDFIxGvHgbOMMNvb80l+jxFBC1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" media="(prefers-color-scheme: dark)" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-vsc-dark-plus.min.css" integrity="sha512-ML8rkwYTFNcblPFx+VLgFIT2boa6f8DDP6p6go4+FT0/mJ8DCbCgi6S0UdjtzB3hKCr1zhU+YVB0AHhIloZP8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" media="(prefers-color-scheme: light)" />

  <script defer data-domain="note.d.foundation" src="https://plausible.io/js/script.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <!-- Algolia -->
  <link rel="preconnect" href="https://B0BWKXLVM9-dsn.algolia.net" crossorigin />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
  <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>

  {{ $styles := resources.Get "scss/styles.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
  <style>
    {{ $styles.Content | safeCSS }}
  </style>

  {{ $processComments := resources.Get "js/process-comments.js" }}
  <script defer src="{{ $processComments.RelPermalink }}"></script>

  {{ $tabMenu := resources.Get "js/tab-menu.js" }}
  <script defer src="{{ $tabMenu.RelPermalink }}"></script>

  {{ $markdownEntities := resources.Get "js/markdown-entities.js" }}
  <script defer src="{{ $markdownEntities.RelPermalink }}"></script>
  
  {{ $algoliaApiKey := getenv "ALGOLIA_API_KEY" }}
  {{ $algoliaApplicationId := getenv "ALGOLIA_APPLICATION_ID" }}
  {{ $algolia := resources.Get "js/algolia.js" | js.Build (dict "params" (dict "api_key" $algoliaApiKey "application_id" $algoliaApplicationId))  }}
  <script defer src="{{ $algolia.RelPermalink }}"></script>

  {{ $systemAppearance := resources.Get "js/dark-light-check.js" }}
  <script defer src="{{ $systemAppearance.RelPermalink }}"></script>

  {{ if .IsHome -}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "description": "{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}",
      "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
      "license": "{{ .Site.Params.Copyright }}"
    }
    </script>
  {{ else if .IsPage }}
  {{ $author := or (.Params.author) (.Site.Author.name) }}
  {{ $org_name := .Site.Title }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "articleSection": "{{ .Section }}",
      "name": "{{ .Title | safeJS }}",
      "headline": "{{ .Title | safeJS }}",
      "alternativeHeadline": "{{ .Params.lead }}",
      "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
      "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
      "isFamilyFriendly": "true",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
      "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
      },
      "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
      },
      "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
      },
      "copyrightHolder" : "{{ $org_name }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "date": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ .Site.BaseURL }},
        "logo": {
          "@type": "ImageObject",
          "url": "{{ .Site.Params.logo | absURL }}",
          "width":"32",
          "height":"32"
        }
      },
      "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}",
      "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
      "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}]
    }
  </script>
  {{ end }}
  <style>
    body {
      visibility: hidden;
      opacity: 0;
    }
  </style>
  <noscript>
    <style>
      body {
        visibility: visible;
        opacity: 1;
      }
    </style>
  </noscript>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function () {
      document.body.style.visibility = 'visible';
      document.body.style.opacity = 1;
    });
  </script>
</head>

{{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}

<body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get " section" }}{{ end }}">
  <div class="grid">
    <div class="tab-header">
      <span class="title"><a style="color: inherit; font-weight: 600; text-decoration: none" href="/site-index">Dwarves Notes</a></span>
      <div id="docsearch"></div>
      {{ partial "tab-menu.html" . }}
    </div>

    {{ partial "menu.html" . }}
    {{ $tags := slice }}
    {{ $tags = $tags | append (dict "tags" .Params.Tags "url" .RelPermalink) }}

    <main x-data="{
      currentUrl: `{{ .RelPermalink }}`,
      title: `{{ .Title }}`,
      get tagsData() {
        const dataString = `{{ $tags | jsonify }}`;
        const data = JSON.parse(dataString);
        return data;
      },
      get hideTitle() {
        const hideTitle = (/true/i).test(`{{ .Params.hide_title }}`);
        return hideTitle;
      },
      isClearPage() {
        const hideFrontmatter = (/true/i).test(`{{ .Params.hide_frontmatter }}`);
        return hideFrontmatter || this.currentUrl.includes('home') || this.currentUrl.includes('tags');
      },
      isTagPage() {
        return this.currentUrl.includes('tags');
      }
    }">
      <!-- <a href="/">{{ .Site.Title }}</a> / <a href="{{ .RelPermalink }}">{{ .Title }}</a> -->
      <template x-if="!hideTitle">
        <div x-bind:class="{ 'note-title': true, 'clear-title': isClearPage() }">
          <!-- docsearch indices -->
          <div class="title-index" style="display: none;">{{ .Title }}</div>
          <div class="tags-index" style="display: none;">tags: {{ if .Params.Tags }}{{ delimit .Params.Tags ", " }}{{ end }}</div>

          <template x-if="isTagPage()"><h1 class="pagetitle" x-text="`#${title}`"></h1></template>
          <template x-if="!isTagPage()"><h1 class="pagetitle" x-text="title">{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</h1></template>
          <div class="date">{{ .Date.Format "Jan 2, 2006" }}</div>
          <template x-for="data in tagsData">
            <template x-if="data.tags && data.tags.length > 0">
              <div class="tags">
                <template x-for="tag in data.tags">
                  <a class="tag" x-bind:href="`/tags/${tag.toLowerCase()}`" x-text="tag"></a>
                </template>
              </div>
            </template>
          </template>
          {{ if .Params.authors -}}
            <aside class="authors">
              by
              {{ $authorsLen := sub (len $.Params.authors) 1}}
              {{ range $i, $e := .Params.authors }}
              <a href="/members/{{ $e }}">{{ $e }}</a>{{ if (gt $authorsLen $i) }},{{end}}
              {{ end }}
            </aside>
          {{ end }}
        </div>
      </template>

      <template x-if="!hideTitle">
        <hr>
      </template>

      {{ if .Params.notice -}}
      <div class="notice">{{ .Params.notice }}</div>
      {{ end }}

      {{ if .Params.toc -}}
      <aside class="toc">{{ .TableOfContents }}</aside>
      {{ end }}
