{{ $currentPage := .Sites.First.Home }}
{{ $menus := .Site.Menus }}
{{ $data := slice }}

{{ $data := slice }}
{{ range .Site.Pages }}
  {{ if .Params.pinned }}
    {{ $data = $data | append (dict "title" .Params.Title "tags" .Params.Tags "url" .RelPermalink "date" .Page.Params.Date) }}
  {{ end }}
{{ end }}

<nav class="menu">
  <section
    class="site-nav"
    x-data="{
      currentUrl: `{{ .RelPermalink }}`,
      get data() {
        const dataString = `{{ $data | jsonify }}`;
        const data = JSON.parse(dataString);
        data.sort((a, b) => Date.parse(b.date) - Date.parse(a.date));
        console.log(data);
        return data;
      },
    }"
  >
    <template x-for="item in data" x-bind:key="item">
      <details x-data="{ start: 0, end: 10, loaded: false, loadText: 'Load more...', }" open>
        <summary>Pinned Notes</summary>
        <ul>
          <li>
            <a x-bind:href="item.url" x-text="item.title"></a>
          </li>
        </ul>
      </details>
    </template>
  </section>
</nav>
