<nav class="menu">
  <section class="site-nav">
    {{ if or (eq .RelPermalink "/guild/") (strings.Contains .RelPermalink "hiring") (strings.Contains .RelPermalink "earn") }}
    <a class="section-home" href="/guild">guild</a>
    <details open>
      <summary>hiring</summary>
      <ul>
        {{ $currentPage := .Sites.First.Home }}
        {{ range .Site.Menus.hiring }}
        <li{{ if eq .URL $currentPage.RelPermalink }} class="active" {{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
      </ul>
    </details>
    <details open>
      <summary>earn</summary>
      <ul>
        {{ $currentPage := .Sites.First.Home }}
        {{ range .Site.Menus.earn }}
        <li{{ if eq .URL $currentPage.RelPermalink }} class="active" {{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
      </ul>
    </details>
    {{ end }}

    {{ if or (eq .RelPermalink "/guild/") (strings.Contains .RelPermalink "hiring") (strings.Contains .RelPermalink "earn") }}
    <a class="section-home" href="/memo">memo</a>
    <details open>
      <summary>memo</summary>
      <ul>
        {{ $currentPage := .Sites.First.Home }}
        {{ range .Site.Menus.memo }}
        <li{{ if eq .URL $currentPage.RelPermalink }} class="active" {{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
      </ul>
    </details>
    {{ end }}

  </section>
</nav>
