<section class="mint-entry-container">
  <div class="entry-minter">
    <div class="mint-cta">
      <img class="no-zoom" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=5670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      <span>Mint this entry as an NFT to add it to your collection.</span>
      <button>Mint</button>
    </div>
    <div class="mint-progress">
      <span>10,000</span>
      <div class="mint-progress-label">
        <span>1050 collected</span>
        {{ $nekoHigh := resources.Get "img/neko-high.png" }}
        <img class="no-zoom" src="{{ $nekoHigh.RelPermalink }}" alt="Neko" />
      </div>
      <progress value="1050" max="10000"></progress>
    </div>
  </div>
  <div class="entry-info">
    {{ $neko := resources.Get "img/neko-sticker.svg" }}
    <img class="neko-sticker no-zoom" src="{{ $neko.RelPermalink }}" alt="Neko" />
    <span>Verification</span>
    <span>This entry has been permanently stored onchain and signed by its creator.</span>
    <dl>
      <dt>author address</dt>
      <dd class="mint-entry-author-address">0x54A80e0417008dB…C4646264717f7a6</dd>
      <dt>transaction</dt>
      <dd class="mint-entry-tx">TODO</dd>
      <dt>nft address</dt>
      <dd class="mint-entry-nft-address">TODO</dd>
      <dt>content digest</dt>
      <dd class="mint-entry-content-digest">TODO</dd>
    </dl>
  </div>
</section>