<!-- Wrap tables to make use of overflow-x property (plus the tabindex thing) -->
{{ $table := `(<table>(?:.|\n)+?</table>)` }}
{{ $improvedTable := printf `<div class="table-container" tabindex="0"> ${1} </div>` }}

<!-- Define regex patterns for Discord emojis -->
{{ $animatedEmojiPattern := `&lt;a:(\w+):(\d+)&gt;` }}
{{ $staticEmojiPattern := `&lt;:(\w+):(\d+)&gt;` }}

<!-- Define replacements for Discord emojis -->
{{ $animatedEmojiReplacement := "<img class=\"emoji\" src=\"https://cdn.discordapp.com/emojis/${2}.gif?size=44&quality=lossless\" alt=\":${1}:\"/>" }}
{{ $staticEmojiReplacement := "<img class=\"emoji\" src=\"https://cdn.discordapp.com/emojis/${2}.webp?size=44&quality=lossless\" alt=\":${1}:\"/>" }}

<!--
  This is doing multiple things:
  
  * Making tables scrollable
  * Converting Discord emoji references to images (both animated and static)
-->
  
{{ .Content 
   | replaceRE $table $improvedTable
   | replaceRE $animatedEmojiPattern $animatedEmojiReplacement
   | replaceRE $staticEmojiPattern $staticEmojiReplacement
   | safeHTML 
}}