<nav class="tab-menu">
  <ul>
    <li{{ if eq .RelPermalink "/" }} class="active" {{ end }}>
      <a href="/">Home</a>
    </li>
    <li{{ if or (eq .RelPermalink "/earn/") (strings.Contains .RelPermalink "earn") }} class="active" {{ end }}>
      <a href="/earn">Earn</a>
    </li>
    <li{{ if or (eq .RelPermalink "/memo/") (strings.Contains .RelPermalink "memo") }} class="active" {{ end }}>
      <a href="/memo">Memo</a>
    </li>
    <li{{ if or (eq .RelPermalink "/radar/") (strings.Contains .RelPermalink "radar") }} class="active" {{ end }}>
      <a href="/radar">Radar</a>
    </li>
    <li{{ if or (eq .RelPermalink "/hiring/") (strings.Contains .RelPermalink "hiring")  }} class="active" {{ end }}>
      <a href="/hiring">Hiring</a>
    </li>
    <li{{ if or (eq .RelPermalink "/newsletter/") (strings.Contains .RelPermalink "newsletter") }} class="active" {{ end }}>
      <a href="/newsletter">Newsletter</a>
    </li>
  </ul>
  </details>
</nav>
