<nav
  class="tab-menu"
  x-data="{
    currentUrl: `{{ .RelPermalink }}`,
    links: [
      { title: 'Home', url: '/home/' },
      { title: 'Earn', url: '/earn/' },
      { title: 'Labs', url: '/memo/labs' },
      { title: 'Memo', url: '/memo/' },
      { title: 'Radar', url: '/radar/' },
      { title: 'Hiring', url: '/hiring/' },
      { title: 'Newsletter', url: '/newsletter/' },
    ],
    isActiveUrl(url) {
      return this.currentUrl.startsWith(url);
    },
  }"
>
  <ul>
    <template x-for="item in links">
      <li x-bind:class="{ 'active': isActiveUrl(item.url) }">
        <a x-bind:href="item.url" x-text="item.title"></a>
      </li>
    </template>
  </ul>
</nav>
