{{ partial "header.html" . }}

<section class="contributors-list">
  {{ with .Content }}{{ . }}{{ end }}

  <ul class="contributors">
    {{ $authors := slice }}
    {{ range site.RegularPages }}
      {{ with .Params.authors }}
        {{ range . }}
          {{ $authors = $authors | append . }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ range ($authors | uniq) }}
      {{ $name := . }}
      {{ $url := printf "/contributor/%s/" (. | urlize) }}
      <li><a href="{{ $url }}">{{ $name }}</a></li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
