{{ partial "header.html" . }}

<div class="contributor-profile">
  {{ $contributorName := .Params.name | default .File.ContentBaseName }}

  <div class="contributor-info">
    <!-- List all articles by this contributor -->
    <h3>Contributions</h3>
    <ul>
      {{ $contributor := $contributorName | lower }}
      {{ range where .Site.RegularPages "Section" "ne" "" }}
        {{ $authorsList := slice }}
        {{ range .Params.authors }}
          {{ $authorsList = $authorsList | append (lower .) }}
        {{ end }}
        {{ if in $authorsList $contributor }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>

{{ partial "footer.html" . }}
