name: Deploy Next.js from Obsidian notes

on:
  push:
    branches:
      - main
      - build-test

jobs:
  publish_job:
    runs-on: ubuntu-latest
    name: Publish Obsidian notes to Github pages
    steps:
      - name: Checkout contents repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.DWARVES_PAT }}
          submodules: true
          fetch-depth: 15

      - name: Selective submodule update (skip opensource)
        run: |
          # Only initialize the top-level submodule (vault)
          git submodule update --init vault

          # Find all submodules under vault except those in vault/opensource
          git config -f .gitmodules --get-regexp path | awk '{print $2}' | grep '^vault/' | grep -v '^vault/opensource' | while read submodule; do
            git submodule update --init "$submodule"
          done

      - name: Install devbox
        uses: jetpack-io/devbox-install-action@v0.11.0
        with:
          enable-cache: true
          devbox-version: 0.14.1

      - name: Run Build
        run: devbox run build
        env:
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          ALGOLIA_APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out

  notify_job:
    runs-on: ubuntu-latest
    name: Notify Discord
    needs: publish_job
    steps:
      - name: Sleep for 30 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: "30s"

      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: "memo.d.foundation has been updated."
